@model GamePlanner.Web.Models.IdeasViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenderId)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="GenderId" asp-items="Model.Genders" id="ddGenders" class="form-control"></select>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicId)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="GenderId" asp-items="Model.Publics" id="ddPublics" class="form-control"></select>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

            $("#ddGenders").attr("disabled", "disabled");

            $("#ddPublics").attr("disabled", "disabled");
        });
    </script>
}